/* vim: set foldmethod=marker: */
@import url("colors.css");

/* global: {{{ */
* {
  min-height: 0;
  min-width: 0;
  font-family: "JetBrainsMono NFP";
  font-size: 16px;
}

window#waybar {
  background-color: @bar-bg;
  /* background: none; */
}

/* items on bar */
#workspaces button,
#tags button,      /* river */
#mode,
#clock,            /* widgets */
#pulseaudio,
#window,
#network,
#tray {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
}

tooltip {
  background-color: @tooltip-bg;
  border: 2px solid @tooltip-border;
}
/* }}} */

/* workspaces/tags: {{{ */

#workspaces button,
#tags button {
  color: @ws-fg;
  background-color: @ws-bg;
}

#workspaces button:hover,
#tags button:hover {
  color: @ws-bg;
  background-color: @ws-fg;
}

#workspaces button.active,
#workspaces button.focused,
#tags button.focused {
  background-color: @ws-bg;
  color: @ws-active;
}

#workspaces button.urgent,
#tags button.urgent {
  background-color: @ws-bg;
  color: @ws-urgent;
}

#mode {
  color: @mode-fg;
}

#layout {
  color: @layout-fg;
}

#layout.focused {
  color: @layout-focused;
}

/* }}} */

/* window: {{{ */

/* make window module transparent when no windows present */
window#waybar.empty #window {
  background-color: transparent;
}

#window {
  color: @window-fg;
  background-color: @window-bg;
}

/* }}} */

/* widgets: {{{ */
#clock,
#pulseaudio,
#network,
#tray {
  background-color: @widget-bg;
}

#clock {
  color: @clock-fg;
}

#pulseaudio {
  color: @pulseaudio-fg;
}

#pulseaudio.muted {
  color: @pulseaudio-muted;
}

#network.wifi {
  color: @network-wifi;
}

#network.disconnected {
  color: @network-disconnected;
}
/* }}} */

